<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card header="Login" [style]="{ width: '400px' }">
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="login.email"
          class="w-full"
          id="email"
          name="email"
          #email="ngModel"
          required
          pattern="[a-z0-9\._%\+\-]+@[a-z0-9\.\-]+\.[a-z]{2,}$"
        />
        @if(email.invalid && (email.dirty || email.touched)){
        <small class="block p-error">
          @if(email.hasError('required')) {
          <span>Email is required</span>
          } @else if(email.hasError('pattern')) {
          <span>Email is invalid</span>
          }
        </small>
        }
      </div>
      <div class="field">
        <label for="password">Password</label>
        <p-password
          [(ngModel)]="login.password"
          [feedback]="false"
          [toggleMask]="true"
          inputId="password"
          name="password"
          #password="ngModel"
          inputStyleClass="w-full"
          styleClass="w-full"
          required
        />
        @if(password.invalid && (password.dirty || password.touched)) {
        <small class="block p-error"> Password is required </small>
        }
      </div>
      <p-button
        label="SIGN IN"
        styleClass="w-full"
        [disabled]="loginForm.invalid"
        type="submit"
      ></p-button>
      <div class="mt-2">
        Not a member? <a routerLink="/register">Register</a>
      </div>
    </form>
  </p-card>
</div>
